html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none; 
}

body{
	text-align: center;
	font-size: 0;
	position: relative;
	font-size: 24px;
}


.bg-sky{
	position: relative;
	text-align: center;
	background: url(images/sky.png) no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

body:before{
	content: "";
	position: absolute;
    height: 104px;
    width: 100%;
    background: url(images/city.png) no-repeat;
    background-size: cover;
    left: 0;
	top: 230px;
}


header{
	display: inline-block;
	position: relative;
	width: 1000px;
	font-size: 24px;
	margin-top: 27px; 
	z-index: 10;

}

.head{
	
	display: flex;
	justify-content: space-between;
	position: relative;
}

.logo {
	display: flex;
}
.logo img{
	width: 137px;
	height: 37px;
}


.price{
	padding: 6px 0 0 10px;
	font-family: 'Arial Italic', sans-serif;
	font-size: 11px;
	font-style: italic;
	text-align: left;
	color: #7d7d7d;
	width: 185px;
	height: 37px;
}

.prise_13{
	display: flex;
	width: 96px;
	height: 38px;
	padding-right: 41px ;
}

.search:after{
	content: "";
	position: absolute;
	background:  url(images/search.png) no-repeat;
	width: 19px;
	height: 16px;
	right: 12px;
	top: 14px;
}

.search input{
	position: relative;
	width: 224px;
	height: 37px;
	border-radius: 30px;
	background: white;
	border-top: 3px solid #e1dddd;
	border-right: 3px solid #ccc8c8;
	border-bottom: 3px solid #b7b3b3;
	border-left: 3px solid #cdc9c9 ;
	padding-left: 17px;
}

input::-webkit-input-placeholder{
	color: #b7b7b7;
	font-family: Arial;
	font-size: 12px;
	margin: 0 0 0 5px;	
}


.search {
	margin-bottom: 27px ;
}


.search:before{
	content: "";
	position: absolute;
	background: url(images/grass.png) no-repeat;
	width: 159px;
	height: 67px;
	right: -19px;
    top: -5px;
}

.nav{
	display: flex;
	align-items: center;
	width: 1000px;
	justify-content: center;
	background:linear-gradient(#0b94c9, #0072bc);
	border-radius: 4px;
	border-top: 2px solid #00bff3;
	margin: 0;

}

.nav li a{
	text-decoration: none;
	text-shadow: 1px 1px  #066e9e;
    display: inline-block;
    padding: 10px 16px;
    font-size: 12px;
    font-family: Arial;
    color: white;
}

.nav li a:hover{
	color: #fff200;
}

 .nav li{
	position: relative;
}

 .nav li:after{
	content: "";
	width: 1px;
	height: 34px;
	position: absolute;
	background: linear-gradient(transparent, #0175bd, transparent) ;
	right: 0;
	top: 0;
}

 .nav li:last-child:after{
	content: "";
	width: 0;	
}

.nav li a:first-child{
	padding-left: 17px;
}

.nav li a:last-child{
	padding-right: 20px;
}


.nav li+li:before{
	content: "";
	width: 1px;
	height: 34px;
	position: absolute;
	background: linear-gradient(transparent, #039fd9, transparent) ;
	left: 0;
	top: 0;
}
 

 .nav li.active{

	background:linear-gradient(#00bff3, #088bd6);
}


.content img{
	width: 100%;
	height: 218px;
}

.content{
	position: relative;
	display: inline-block;
	text-align: center;
	width: 1000px;
	font-size: 0;
	margin-top: 27px; 
	position: relative;
	z-index: 10;
}

 h2{
	font-size: 26px;
}

 p{
	font-size: 12px;
	text-align: left;
	font-family: Arial;
}


.content-inside{
	position: absolute;
	width: 450px;
	height: 92px;
	right: 63px;
	top: 62px;
	color: white;
}


.bg-gradient{
	position: relative;
	width: 100%;
	height: 357px;
	background: linear-gradient(transparent 65%, #ececec);
}

.bg-gradient:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 1px;
	left: 0;
	background: white;

}

.slide{
	position: absolute;
	display: flex;
	justify-content: center;
	top: 185px;
	right: 20px;
}

.slide li{
	border-radius: 100%;
	height: 13px;
	width: 13px;
	background: radial-gradient(circle at 50% 70%, #d9d5d3 ,#bfbbb8 , 
					#7c736c 80%, #7f736a);
}

.slide li a{
	display: inline-block;
	border-radius: 100%;
	height: 13px;
	width: 13px;
}


.slide li{
	margin-right: 6px;
}

.slide li:last-child{
	margin-right: 0;
}

.slide .active  {
	background: radial-gradient(circle at 50% 60%, #ff7676 ,#f54d4d , 
					#aa3939 80%, #7c4744);
}

.menu{

	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	height: 77px;
	padding-top: 36px ;	
}

.menu a{
	display: inline-block;
	font-size: 14px;
	font-family: Arial;
	text-align: left;
}

.menu p{
	font-size: 12px;
	font-family: Arial;
}

.shops{
	padding: 0 50px 0 86px;

}

.shops:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(images/shop.png) no-repeat;
	width: 84px ;
	height: 57px;
}

.menu div{
	position: relative;
	text-align: left;
}

.menu div:after{
	content: "";
	position: absolute;
	background: url(images/points.png) no-repeat;
	top: 0;
	left: 0;
	width: 1px;
	height: 27px;
}

.menu div:first-child:after{
	content: "";
	width: 0;
	}

	.advice{
		padding: 0 50px 0 118px;
	}

.advice:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 30px;
	background: url(images/pushcart.png) no-repeat;
	width: 69px ;
	height: 67px;
}

.weather{
	padding: 0 50px 0 118px;
}

.weather:before{
	content: "";
	position: absolute;
	bottom: -16px;
	left: 30px;
	background: url(images/sun.png) no-repeat;
	width: 80px ;
	height: 87px;
}

.wrapper{
	display: flex;
	justify-content: space-between;
	width: 1000px;
	margin: 26px auto;


}


.w-list{
	width: 221px;
	height: 100%;	
}

.w-list-a{
	position: relative;
	display: block;
	text-align: left;
	padding: 12px 0 12px 15px;
	border-top: 1px solid #1dd114;
	border-right: 1px solid #15b020;
	border-bottom: 1px solid #0c8b2d;
	border-left: 1px solid #13a723;
	border-radius: 5px;
	font-size: 12px;
	color: #0c8a2d;
	background: linear-gradient(#ffffff, #ececec 98%, #ffffff 98% );
}

.w-list-a:before{
	content: "";
	position: absolute;
	top: -18px;
	right: 17px;
	width: 28px;
	height: 33px;
	background: url(images/layer15.png) no-repeat;
}
.w-list-a:after{
	content: "";
	position: absolute;
	top: -1px;
	right: 24px;
	width: 24px;
	height: 1px;
	background: linear-gradient(to right, white 3px, #36ca36 3px, white 6px );
}

.articles{
	border-radius: 5px;
	border: 1px solid #ececec;
	text-align: left;
}

.articles h3{
	border-radius: ;
	padding: 15px 0 15px 16px;
	background: linear-gradient(#ffffff, #ececec 98%, #ffffff 98% );


}

.articles_list a{
	background:;
}