html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none; 
}

body{
	font-family: 'Arial Italic', sans-serif;
	text-align: center;
	font-size: 0;
	position: relative;
	font-size: 24px;
}


.bg-sky{
	position: relative;
	text-align: center;
	background: url(images/sky.png) no-repeat;
    width: 1200px;
    margin: 0 auto 27px;
}

header{
	display: inline-block;
	position: relative;
	width: 1000px;
	font-size: 24px;
	margin-top: 27px; 
	z-index: 10;
}

.head{
	
	display: flex;
	justify-content: space-between;
	position: relative;
}

.logo {
	display: flex;
}

.logo img{
	width: 137px;
	height: 37px;
}


.price{
	padding: 6px 0 0 10px;
	font-size: 11px;
	font-style: italic;
	text-align: left;
	color: #7d7d7d;
	width: 185px;
	height: 37px;
}

.prise_13{
	display: flex;
	width: 96px;
	height: 38px;
	padding-right: 41px ;
}

.search:after{
	content: "";
	position: absolute;
	background:  url(images/search.png) no-repeat;
	width: 19px;
	height: 16px;
	right: 12px;
	top: 14px;
}

.search input{
	position: relative;
	width: 224px;
	height: 37px;
	border-radius: 30px;
	background: white;
	border-top: 3px solid #e1dddd;
	border-right: 3px solid #ccc8c8;
	border-bottom: 3px solid #b7b3b3;
	border-left: 3px solid #cdc9c9 ;
	padding-left: 17px;
}

input::-webkit-input-placeholder{
	color: #b7b7b7;
	font-size: 12px;
	margin: 0 0 0 5px;	
}


.search {
	margin-bottom: 27px ;
}

.search:before{
	content: "";
	position: absolute;
	background: url(images/grass.png) no-repeat;
	width: 159px;
	height: 67px;
	right: -19px;
    top: -5px;
}

.nav{
	display: flex;
	align-items: center;
	width: 1000px;
	justify-content: center;
	background:linear-gradient(#0b94c9, #0072bc);
	border-radius: 4px;
	border-top: 2px solid #00bff3;
	margin: 0;
}

.nav li a{
	text-decoration: none;
	text-shadow: 1px 1px  #066e9e;
    display: inline-block;
    padding: 10px 16px;
    font-size: 12px;
    color: white;
}

.nav li a:hover{
	color: #fff200;
}

 .nav li{
	position: relative;
}

 .nav li:after{
	content: "";
	width: 1px;
	height: 34px;
	position: absolute;
	background: linear-gradient(transparent, #0175bd, transparent) ;
	right: 0;
	top: 0;
}

 .nav li:last-child:after{
	content: "";
	width: 0;	
}

.nav li a:first-child{
	padding-left: 17px;
}

.nav li a:last-child{
	padding-right: 20px;
}

.nav li+li:before{
	content: "";
	width: 1px;
	height: 34px;
	position: absolute;
	background: linear-gradient(transparent, #039fd9, transparent) ;
	left: 0;
	top: 0;
}
 
 .nav li.active{
	background:linear-gradient(#00bff3, #088bd6);
}

.content img{
	width: 100%;
	height: 218px;
}

.content{
	position: relative;
	text-align: center;
	width: 1000px;
	font-size: 0;
	margin: 0 auto; 
	position: relative;
	z-index: 10;
}

 h2{
	font-size: 26px;
}

 p{
	font-size: 12px;
	text-align: left;
}

.bg-city{
	position: absolute;
    top: 74px;
    left: 0;
    height: 97px;
    width: 100%;
    background: url(images/city-2.png) 135% center;
    background-clip: border-box;
}

.content-inside{
	position: absolute;
	width: 450px;
	height: 92px;
	right: 63px;
	top: 62px;
	color: white;
}

.bg-gradient{
	position: relative;
	margin: 0 auto;
    position: relative;
    width: 100%;
    height: 331px;
    background: linear-gradient(transparent 65%, #ececec);
}

.bg-gradient:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 1px;
	left: 0;
	background: white;
}

.slide{
	position: absolute;
	display: flex;
	justify-content: center;
	top: 185px;
	right: 20px;
}

.slide li{
	border-radius: 100%;
	height: 13px;
	width: 13px;
	background: radial-gradient(circle at 50% 70%, #d9d5d3 ,#bfbbb8 , 
					#7c736c 80%, #7f736a);
}

.slide li a{
	display: inline-block;
	border-radius: 100%;
	height: 13px;
	width: 13px;
}


.slide li{
	margin-right: 6px;
}

.slide li:last-child{
	margin-right: 0;
}

.slide .active  {
	background: radial-gradient(circle at 50% 60%, #ff7676 ,#f54d4d , 
					#aa3939 80%, #7c4744);
}

.menu{

	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	height: 77px;
	padding-top: 36px ;	
}

.menu a{
	display: inline-block;
	font-size: 14px;
	text-align: left;
	margin-bottom: 6px;
}

.menu p{
	font-size: 12px;
}

.shops{
	padding: 0 50px 0 86px;

}

.shops:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(images/shop.png) no-repeat;
	width: 84px ;
	height: 57px;
}

.menu div{
	position: relative;
	text-align: left;
}

.menu div:after{
	content: "";
	position: absolute;
	background: url(images/points.png) no-repeat;
	top: 0;
	left: 0;
	width: 1px;
	height: 27px;
}

.menu div:first-child:after{
	content: "";
	width: 0;
	}

.advice{
		padding: 0 50px 0 118px;
	}

.advice:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 30px;
	background: url(images/pushcart.png) no-repeat;
	width: 69px ;
	height: 67px;
}

.weather{
	padding: 0 50px 0 118px;
}

.weather:before{
	content: "";
	position: absolute;
	bottom: -16px;
	left: 30px;
	background: url(images/sun.png) no-repeat;
	width: 80px ;
	height: 87px;
}

.wrapper{
	display: flex;
	justify-content: space-between;
	width: 1000px;
	margin: 26px auto;
}


.w-list{
	width: 221px;
	height: 100%;	
}

.w-list-a{
	position: relative;
	display: block;
	text-align: left;
	padding: 12px 0 12px 15px;
	border-top: 1px solid #1dd114;
	border-right: 1px solid #15b020;
	border-bottom: 1px solid #0c8b2d;
	border-left: 1px solid #13a723;
	border-radius: 5px;
	font-size: 12px;
	color: #0c8a2d;
	background: linear-gradient(#ffffff, #ececec 98%, #ffffff 98% );
}

.w-list-a:before{
	content: "";
	position: absolute;
	top: -18px;
	right: 17px;
	width: 28px;
	height: 33px;
	background: url(images/layer15.png) no-repeat;
}
.w-list-a:after{
	content: "";
	position: absolute;
	top: -1px;
	right: 24px;
	width: 24px;
	height: 1px;
	background: linear-gradient(to right, white 3px, #36ca36 3px, white 6px );
}

.articles{
	border-radius: 5px;
	border: 1px solid #ececec;
	text-align: left;
	margin: 26px 0 0 0;
}

.articles h3{
	border-radius:5px 5px 0 0 ;
	padding: 15px 0 15px 16px;
	font-size: 18px;
	background: linear-gradient(#ffffff, #ececec 98%, #ffffff 98% );


}

.articles_list a{
	color: #0686c4;
	font-size: 12px;
	display: inline-block;
}

.articles_list{
	margin-top: 18px;
}

.articles_list li{
	padding-left: 32px;
	margin-bottom: 12px;
	position: relative;
}

.articles_list li:before{
	content: "";
	top: 9px;
	left: 15px;
	position: absolute;
	background: url(images/arrows.jpg) no-repeat;
	width: 6px;
	height: 18px;
}

.articles_list a:hover{
	text-decoration: none;
	color: #ed1c24;
}

.ads{
	margin-top: 16px;
}



.f-s-18{
	font-size: 18px;
}

.f-s-10{
	font-size: 10px;
}


.green{
	color: #006600;
}


.publications{
	border-radius: 5px;
    border: 1px solid #ececec;
	width: 504px;
	height: 100%;
}

.publications h3{
	border-radius:5px 5px 0 0 ;
	padding: 16px 0 16px 15px;
	font-size: 18px;
	text-align: left;
	background: linear-gradient(#ffffff, #ececec 98%, #ffffff 98% );
}

.publications-content{
	display: flex;
	border-bottom: 1px dotted #b5b5b5;
	margin-top: 18px;
	padding: 0 15px 0 15px;

}

.publications-content img{
	width: 177px;
	height: 114px;
}

.pub-lorem{
	text-align: left;
	margin-left: 15px;
	font-size: 12px;
}

.pub-lorem>a{
	font-size: 14px;
	color: #0174bd;
	display: inline-block;
}

.chapter{
	color: #959595;
	margin: 13px 0 12px 0;
}

.chapter a,
.sp-bg{
	color: #959595;
}

.chapter a:hover{
	text-decoration: none;
}

.detailed{
	display: flex;
	justify-content: space-between;
	margin: 14px 0 14px 0 ;
}

.detailed a{
	padding: 5px 12px 5px 18px;
	color: white;
	background: linear-gradient(#0a93c9, #0072bc);
	text-decoration: none;
	border-radius: 5px;
	border-top: 3px solid #00b8f1;
	text-shadow: 1px 1px 1px #03659a;
}

span.f-s-18{
	vertical-align: sub;
	color: #0583c3;
}

.pub-lorem>a:hover{
	color: #f14950;	
	text-decoration: none;
}

.detailed a:hover{
	background: linear-gradient(#03b1ea, #088dd7);
	border-top: 3px solid #00bcf2;		
}

.black-list{
	width: 220px;
}


.black-list-a{
	position: relative;
	display: block;
	text-align: left;
	padding: 12px 0 12px 15px;
	border-top: 1px solid #f7131c;
	border-right: 1px solid #dc0f21;
	border-bottom: 1px solid #be0926;
	border-left: 1px solid #d80e21;
	border-radius: 5px;
	font-size: 12px;
	color: #e31b3b;
	background: linear-gradient(#ffffff, #ececec 98%, #ffffff 98% );
}

.black-list-a:before{
	content: "";
	position: absolute;
	top: -16px;
	right: 17px;
	width: 28px;
	height: 33px;
	background: url(images/layer18.png) no-repeat;
}

.black-list-a:after{
	content: "";
	position: absolute;
	top: -1px;
	right: 13px;
	width: 24px;
	height: 1px;
	background: linear-gradient(to right, white 18px, #e9111e 20px, white 0px  );
}

.black-list>div.ads{
	margin-top: 25px;
}

.black-list>img{
	width: 192px;
	height: 262px;
	padding: 15px;
	margin-top: 25px;
	border-radius: 5px;
    border: 1px solid #ececec;
}

.navigation{
	display: flex;
	justify-content: space-between;
	font-size: 12px;
}

.navigation>a{
	padding: 23px 0 23px 34px;
	
}

.navigation a{
	color: black;
	position: relative;
}

.navigation>ul{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	width: 220px;
	padding: 23px 0 23px 0;	
}

.navigation>a.back{
	padding: 23px 34px 23px 0;
}

.ahead:before{
	content:"" ;
	position: absolute;
	top: 30px;
	left: 15px;
	width: 10px;
	height: 3px;
	background: url(images/ahead.jpg) no-repeat;
}

.ahead:hover.ahead:before{
	background: url(images/ahead-red.jpg) no-repeat;
}

.back:before{
	content:"" ;
	position: absolute;
	top: 30px;
	right: 15px;
	width: 10px;
	height: 3px;
	background: url(images/back.jpg) no-repeat;
}

.back:hover.back:before{
	background: url(images/back-red.jpg) no-repeat;
}

.pages a.active{
	font-size: 18px;
	color: #2e91dc;
	text-decoration: none;
}

.pages a:hover{
	
}

.navigation a:hover{
	text-decoration: none;
	color: #ed1c24;
}

.center{
	margin: 0 auto;
}

footer{
	margin: 24px auto 12px;
	width: 1000px;
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	line-height: 1.5;
	color: #848484;
}

footer a{
	color: #848484;
}

.links a{
	display: block;
	position: relative;
	padding-left: 7px;
	text-align: left;
}

.links a:before{
	content: "\203A";
	position: absolute;
	top: 0;
	left: 1px;
	width: 2px;
	height: 3px;
}


.foot-p{
	width: 497px;
	line-height: 1.5;
}


.free-pixel{
	width: 166px;
	padding-right: 38px;
	text-align: right;
	position: relative;
}

div.free-pixel:before{
	content: "";
	position: absolute;
	top: 8px;
	right: 0;
	width: 28px;
	height: 24px;
	background: url(images/bird-1.jpg) no-repeat;
}

	
